/*body,html{
	height: 100%;
}*/

#container{
/*	border: 1px solid #000;*/
	color: grey;
	height: 100%;
	display: grid;
	grid-template-rows: minmax(min-content,15%) minmax(min-content,5%) auto 10%;
	grid-row-gap: 1%;
	padding: 3px;
}

#header{
	border: 1px solid #000;
}

#main{
	border: 1px solid #000;
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-column-gap: 1%;
}

#main #content{
	border: 1px solid #000;
	margin: 10px;
	padding: 5px;
}

#footer{
	border: 1px solid #000;
}

#menu{
	border: 1px solid #000;
}

#menu ul{
	display: flex;
	list-style: none;
	padding: 0px;
}

#menu ul li{
	border: 1px solid #000;
	margin: 3px;
	padding: 5px;
}

#main #content h1{
	text-align: center;
}


#header h1{
	text-align: center;
}

#nome_div #inputNome{
	text-align: center;
}